 <a *ngIf="isEmployee()" routerLink="/add-new-show" class="add-new-show">Add new show</a>
 <h3 class="table-name">
  Repertoar
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th class='th-name'> </th>
      <th (click)="onSortByNameClicked()" class='th-name'>Naziv</th>
      <th class='th-name'>Opis</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let play of plays" (click)="onPlayClicked(play.id)">
      <td><img [src]="play.image" width="250" height="300" /></td>
      <td class="td-name">{{ play.name }}</td>
      <td class='td-opis'>{{ play.description.split('.')[0]+'...' }} <button (click)="toggleText()">
        {{ showFullText ? 'Show Less' : 'Show More' }}
      </button></td>
      <td *ngIf="isEmployee()" class="cancel">
        <button class="btn btn-danger" (click)="onDeleteClicked($event, play)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
