<mat-form-field class="full-width" style="width: 50%" appearance="outline">
  <mat-chip-list #chipList>
    <mat-chip
      style="margin-top: 0.4em"
      *ngFor="let option of this.dataService.searchOption"
      (removed)="removeOption(option)"
    >
      <span>{{ option.title }}</span>

      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      #autocompleteInput
      type="text"
      placeholder="Pretrazi po naslovu..."
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of autoCompleteList"
        [value]="option"
        (onSelectionChange)="filterPostList($event)"
      >
        {{ option.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-chip-list>
</mat-form-field>
