<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-offset-1 col-md-offset-2 p-5 login-custom-class  w-100">
      <label class=" w-100  mb-4 text-center text-uppercase custom-reg-font">Registracija </label>
      <button mat-raised-button mat-focus-indicator  mat-button-base class=" w-100  mb-2 " (click)="onStudent()">  STUDENT </button>
      <button mat-raised-button mat-focus-indicator  mat-button-base class=" w-100 mb-2"   (click)="onProfessor()">  PROFESOR  </button>
    </div>
  </div>
</div>


