.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='tel'] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #3e8e41;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.form-group {
  width: 380px;
}
.password-container {
  position: relative;
}

.password-wrapper {
  display: flex;
  align-items: center;
}

input[type='password'] {
  padding-right: 40px; /* Adjust this value as needed to accommodate the button */
}

.toggle-password {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 16px;
}
