<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpCustomerForm" (ngSubmit)="onSignup()">
        <mat-stepper formArrayName="formArray" [linear]="isLinear">
          <mat-step label="Basic info" formGroupName="0" [stepControl]="formArray?.get([0])">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="" value="" formControlName="name" />
              <mat-error> Name is <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Surname</mat-label>
              <input matInput placeholder="" value="" formControlName="surname" />
              <mat-error> Surname is <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>BirthDates</mat-label>
              <input matInput id="birthDate" [matDatepicker]="picker" formControlName="birthDate" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error> Birthdate is <strong>required</strong> </mat-error>
            </mat-form-field>

            <div style="display: flex; flex-direction: row-reverse">
              <button mat-raised-button class="btn w-25" matStepperNext type="button">Dalje</button>
            </div>
          </mat-step>

          <mat-step label="Address & Contact" formGroupName="1" [stepControl]="formArray?.get([1])">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Street & No</mat-label>
              <input matInput placeholder="" value="" formControlName="address" />
              <mat-error> Street & No is <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Full Address</mat-label>
              <input matInput placeholder="" value="" formControlName="fullAddress" />
              <mat-error> Full Address is <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input matInput id="PhoneNumber" formControlName="phoneNumber" />
              <mat-error> Phone Number is <strong>required</strong> </mat-error>
            </mat-form-field>
            <div style="display: flex; flex-direction: row-reverse">
              <button mat-raised-button class="btn w-25" matStepperNext type="button">Dalje</button>
              <button mat-raised-button class="btn" matStepperPrevious type="button">Nazad</button>
            </div>
          </mat-step>

          <mat-step label="User profile" formGroupName="2" [stepControl]="formArray?.get([2])">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>email</mat-label>
              <input type="email" matInput placeholder="" value="" formControlName="email" />
              <mat-error>
                <!--                *ngIf="signUpProfessorForm.controls['email'].hasError('email') && !signUpProfessorForm.controls['email'].hasError('required')">-->
                Please enter a valid email address
              </mat-error>
              <!--              <mat-error *ngIf="signUpProfessorForm.controls['email'].hasError('required')">-->
              <mat-error> Email is <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>username</mat-label>
              <input matInput placeholder="" value="" formControlName="username" />
              <!--              <mat-error *ngIf="signUpProfessorForm.controls['username'].hasError('required')">-->
              <mat-error> Name is <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>password</mat-label>
              <input type="password" matInput placeholder="" value="" formControlName="password" />
              <!--              <mat-error *ngIf="signUpProfessorForm.controls['password'].hasError('required')">-->
              <mat-error> Name is <strong>required</strong> </mat-error>
            </mat-form-field>

            <div style="display: flex; flex-direction: row-reverse">
              <button
                mat-raised-button
                class="btn"
                style="margin: 1px"
                type="submit"
                [disabled]="!signUpCustomerForm.valid"
              >
                Register
              </button>
              <button mat-raised-button class="btn" matStepperPrevious type="button">Nazad</button>
            </div>
          </mat-step>

          <button
            mat-raised-button
            class="btn"
            matStepperPrevious
            style="margin: 1px"
            type="button"
          >
            Nazad
          </button>
        </mat-stepper>
      </form>
    </div>
  </div>
</div>
