.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  margin-top: 16px;
}
.custom-signinform {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}
::ng-deep .mat-raised-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0, 0, 0, 0.9) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  /*change color of underline when focused*/
  color: #ccd0d5 !important;
}

.mat-input-element.mat-form-field-autofill-control {
  background-color: transparent !important;
}

.sign-button:hover {
  background-color: rgba(0, 164, 0, 0.82);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.login-custom-class {
  box-shadow: 0 2px 12px rgb(131 128 128), 0 1px 1px rgb(131 128 128);
}
